{% extends "layout.html" %}
{% block title %}Ranking{% endblock %}
{% block content %}
<script src="/static/js/ranking.js" type="text/javascript" charset="utf-8"></script>
<div class="row">
    {{ text | markdown }}
    <div class="list-group" id="items">
        {% for i in items %}
        <div class="list-group-item">
            <p>{{ i[0] }}</p>
        <div class="list-group-item item grabbable" id="{{i[1]}}" draggable="true" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="drag(event)">
            <span class="glyphicon glyphicon-minus"></span>
            {{ i[1] }}
        </div>
        </div>
        {% endfor %}
    </div>
    <button class="btn btn-lg btn-primary btn-block" onclick="sendListMatching()">Answer</button>
</div>
{% include "question/hints.html" %}
{% endblock content %}
