{% extends "layout.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
{% for t in thresholds %}
<div class="panel {% if t.open %}panel-default{% else %}panel-danger{% endif %}">
    <div class="panel-heading">{{ t.name }}</div>
    <div class="panel-body">
      {% for s in t.subjects %}
        <div>
            {% if t.open %}
            <a {% if s in current_user.completed %} class="text-success"{% endif %} href="{{ url_for('view_subject', name=s.name) }}">{{s.name}}</a>
            {% else %}
            <span>{{s.name}}</span>
            {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
{% endblock content %}
