{% extends "base.html" %}
{% block title %}Ranking{% endblock %}
{% block body %}
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    newElem = ev.target;
    oldElem = $(".item#"+data)[0];
    $('#items')[0].insertBefore(oldElem, newElem);

}
</script>
<div class="container">
{% include "flash.html" %}
<div class="row">
    <p>{{ q.text }}</p>
    <div class="list-group" id="items">
        {% for i in q.items %}
        <div class="list-group-item item" id="{{i.id}}" draggable="true" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="drag(event)">
            {{ i.text }}
        </div>
        {% endfor %}
    </div>
    <form action="" method="post">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Answer</button>
</form>
</div>
</div>
{% endblock body %}
