{% extends "layout.html" %}
{% block title %}Ranking{% endblock %}
{% block content %}
<script src="/static/js/ranking.js" type="text/javascript" charset="utf-8"></script>
<div class="row">
    <p>{{ text | marktohtml | safe }}</p>
    <div class="list-group" id="items">
        {% for i in items %}
        <div class="list-group-item item grabbable" id="{{i.id}}" draggable="true" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="drag(event)">
            <span class="glyphicon glyphicon-minus"></span>
            {{ i.text }}
        </div>
        {% endfor %}
    </div>
    <button class="btn btn-lg btn-primary btn-block" onclick="sendListRanking()">Answer</button>
</div>
{% endblock content %}
