.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
#editor {
    height: 300px;
}

#editor-panel {
    padding: 0;
}
