{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post" name="register">
                {{ form.hidden_tag() }}
                <h2 class="form-signin-heading">Please enter credentials</h2>
                {{ form.kuid(class = "form-control", placeholder = "KU-id") }}
                {{ form.password(class = "form-control", placeholder = "Password") }}
                {{ form.repeat_password(class = "form-control", placeholder = "Repeat password") }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
        </div>
    </div>
</div> <!-- /container -->
{% endblock body %}


